# Gradle files
.gradle/
build/
**/build/

# IntelliJ / Android Studio
.idea/
*.iml
*.iws
*.ipr
out/

# Local configuration
local.properties

# Log files
*.log

# macOS
.DS_Store

# Captures
captures/

# External Native Build
.externalNativeBuild/
.cxx/

PROGRESS.md
# Eclipse-style output dirs (created by some IDE import paths)
bin/
